{% extends "base.html" %}
{% load staticfiles %}

{% block header %}
	<link rel="stylesheet" href="{% static 'owl.carousel.css' %}">
	{{block.super}}
{% endblock header %}

{% block content %}
	
	<script src="{% static 'owl.carousel.min.js' %}"></script>
		
	<div class="item item-details gradients-item item-shadow" data-id="{{object.id}}">

		<div class="canvas" style="background-image: linear-gradient{{object.get_html}};">
			
			<div class="canvas-popup">
				<div> 
					<span class="tran">{{object.get_color_one}} </span>
				</div>

				<div> 
					<span class="tran2">{{object.get_color_two}}</span>
				</div>
			</div>

		</div> <!-- /.canvas -->
		
		<div class="actionbar">
		
			<div class="actionbar-element actionbar-left">
				{% if user.profile in object.likes.all %}
					<a href="#" class="like-wrapper like-active">
						<i class="fa fa-heart"></i>
						<span>Like</span>
						{% comment %}
						<span>0</span>
						{% endcomment %}
					</a>
				{% else %}
					<a href="#" class="like-wrapper">
						<i class="fa fa-heart"></i>
						<span>Like</span>
						{% comment %}
						<span>0</span>
						{% endcomment %}
					</a>
				{% endif %}

					
			</div>

			<div class="actionbar-element actionbar-right actionbar-date">
				<span>{{object.time|date:"j M"}}</span>
			</div>

			<div class="actionbar-share">
				<a href="https://www.facebook.com/sharer/sharer.php?u=http://tabiku.com{% url 'blend_details' object.id %}" target="_blank" class="actionbar-element actionbar-left">
					<span>Share on Facebook</span>
				</a>

				<a href="http://twitter.com/share?text=Found a nice gradient on Tabiku by @sihaelov&url=http://tabiku.com{% url 'blend_details' object.id %}" target="_blank" class="actionbar-element actionbar-right">
					<span>Share on Twitter</span>
						{% comment %}
							<i class="fa fa-facebook fa-lg"></i>
							<i class="fa fa-twitter fa-lg"></i>
						{% endcomment %}
				</a>
			</div> <!-- /.actionbar-share -->

		</div> <!-- /.actionbar -->

	</div> <!-- /.item -->


	<div class="item-btn item item-details output-gradient" onclick="select_all(this)">
		<p> background-image: linear-gradient{{object.get_html}}; </p>
		<p> background-image: -moz-linear-gradient{{object.get_html}}; </p>
		<p> background-image: -webkit-linear-gradient{{object.get_html}}; </p>
		<p> background-image: -o-linear-gradient{{object.get_html}}; </p>
		<p> background-image: -ms-linear-gradient{{object.get_html}}; </p>
	</div>

	{% comment %}
	<div class="feed"></div> <!-- /.feed -->
    <script src="{% static 'load_palettes.js' %}"></script>
	{% endcomment %}

	<div class="feed feed-homepage">
		{% include "load-home.html" %}
	</div>


    <script type="text/javascript">

    	function select_all(el) {
            if (typeof window.getSelection != "undefined" && typeof document.createRange != "undefined") {
                var range = document.createRange();
                range.selectNodeContents(el);
                var sel = window.getSelection();
                sel.removeAllRanges();
                sel.addRange(range);
            } else if (typeof document.selection != "undefined" && typeof document.body.createTextRange != "undefined") {
                var textRange = document.body.createTextRange();
                textRange.moveToElementText(el);
                textRange.select();
            }
        }

    </script>

{% endblock %}