{% extends "base.html" %}
{% load staticfiles %}


{% block content %}
    
    <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

    <script src="{% static 'spectrum.js' %}"></script>
    <link rel='stylesheet' href="{% static 'spectrum.css' %}"/>
    
    <div class="gradient-body">
            
        <div class="message">
            <h2>Sorry, looks like your browser window is less than 600px tall!</h2>
        </div>

            <div class="initiate-gradient">
                <i class="fa fa-caret-right fa-lg"></i>
            </div>

            <div class="display" style="height: 100vh;">

                <div class="color-wrap">
                    <div class="palette-group" id="palette-group-left">
                        <ul class="palette" id="paletteLeft">
                            <div class="palette-list">
                                <li class="sg" style="background-color: rgb(26, 188, 156);"></li>
                                <li class="sg" style="background-color: rgb(46, 204, 113);"></li>
                                <li class="sg" style="background-color: rgb(52, 152, 219);"></li>
                                <li class="sg active" style="background-color: rgb(155, 89, 182);"></li>
                                <li class="sg" style="background-color: rgb(52, 73, 94);"></li>
                                <li class="sg" style="background-color: rgb(241, 196, 15);"></li>
                                <li class="sg" style="background-color: rgb(230, 126, 34);"></li>
                                <li class="sg" style="background-color: rgb(231, 76, 60);"></li>
                            </div>

                            <li class="colorpicker sg">
                                <i class="fa fa-plus fa-4x"></i>                                
                            </li>
                        </ul>
                    </div>

                    <div class="color-fill open left-fill" style="background-color: rgb(155, 89, 182);"></div>
                </div> <!-- /.color-wrap -->


                <div class="color-wrap color-wrap-right">
                    <div class="palette-group" id="palette-group-right">
                        <ul class="palette" id="paletteRight">
                            <div class="palette-list">
                                <li class="sg" style="background-color: rgb(26, 188, 156);"></li>
                                <li class="sg" style="background-color: rgb(46, 204, 113);"></li>
                                <li class="sg" style="background-color: rgb(52, 152, 219);"></li>
                                <li class="sg" style="background-color: rgb(155, 89, 182);"></li>
                                <li class="sg active" style="background-color: rgb(52, 73, 94);"></li>
                                <li class="sg" style="background-color: rgb(241, 196, 15);"></li>
                                <li class="sg" style="background-color: rgb(230, 126, 34);"></li>
                                <li class="sg" style="background-color: rgb(231, 76, 60);"></li>
                            </div>

                            <li class="colorpicker sg">
                                <i class="fa fa-plus fa-4x"></i>                                
                            </li>
                        </ul>
                    </div>

                    <div class="color-fill open right-fill" style="background-color: rgb(52, 73, 94);"></div>
                </div> <!-- /.color-wrap -->


                <div class="gradient-slider ui-draggable ui-draggable-handle fixed fac active-slider">

                    <div class="generate-gradient-line" style="display: block;"></div>

                    <i class="gradient-arrow gradient-arrow-left fa fa-caret-left fa-4x"></i>
                    <i class="gradient-arrow gradient-arrow-right fa fa-caret-right fa-4x"></i>

                </div> <!-- /.gradient-slider -->

                <div class="gradient-controll">
                    <div class="apply-gradient">
                        <i class="fa fa-check-circle-o fa-4x"></i>
                    </div>

                    <div class="refresh-gradient">
                        <i class="fa fa-times fa-4x"></i>
                    </div>
                </div>
          
          </div> <!-- /.display -->

    </div> <!-- /.gradient-body -->

    <script type="text/javascript">

        if( $(window).height() < 620 ){
            $('.palette-list').find('.sg:eq(4)').nextAll().remove();
        }

        if( $(window).height() < 600 ){
            $('.message').css('display', 'block');
        }


        $(".colorpicker").spectrum({
            color: "#f00",
            showInput: true,
            showAlpha: true,

            preferredFormat: "rgb",

            
            change: function(tinycolor) 
            {
                $(this).parents('.palette').find('.palette-list').children().eq(0).remove();

                $(this).parents('.palette').find('.palette-list').append("<li class='sg' style='background-color:" + tinycolor.toHexString() + "'></li>").css('background-color', '#000');
            },

        });


$(document).ready(function() {

    var bgOne, bgTwo, buildGradient, gradientSlider, grad0 = 25;
    var grad100 = ' 100';

    var gradientDirection = 'linear-gradient(90deg, ';
    var mozGradientDirection = '-moz-linear-gradient(90deg, ';
    var webkitGradientDirection = '-webkit-linear-gradient(90deg, ';
    var oGradientDirection = '-o-linear-gradient(90deg, ';
    var msGradientDirection = '-ms-linear-gradient(90deg, ';

    $(document).on('click', '#paletteLeft .sg', function(){
        bgOne = $(this).css('backgroundColor');
        $('.left-fill').css('background-color', $(this).css('backgroundColor'));
        $('#paletteLeft .sg').removeClass('active');
        $(this).addClass('active');
        $('#paletteLeft input').val(bgOne);
    });

    $(document).on('click', '#paletteRight .sg', function(){
        $('.right-fill').css('background-color', $(this).css('backgroundColor'));
        $('#paletteRight .sg').removeClass('active');
        $(this).addClass('active');
        $('#paletteRight input').val(bgTwo);
    });

    // Включаем изменение градиентов
    $(document).on('click', '.initiate-gradient', function(){
        bgOne = $('.left-fill').css('backgroundColor');
        bgTwo = $('.right-fill').css('backgroundColor');
        $(this).fadeOut('fast');

        $('.gradient-slider').fadeIn();

        $('.gradient-slider').addClass('fac active-slider', function() {
            gradientSlider = $('.gradient-slider.active-slider').draggable({
                axis: 'x',
                containment: ".display",
                scroll: false,
                drag: function() {
                    var gradPos = $('.gradient-slider').position(),
                        winWidth = $(window).width(),
                        gradientWidth = $('.display').width();
                    
                    //grad0 = Math.floor(gradPos.left/winWidth*50);
                    
                    grad0 = Math.floor(gradPos.left/gradientWidth*50);

                    // Применяем изменения градиента
                    writeGradient();

                }
            }).disableSelection();
        }); // graggable

        // Скрываем палитры и background'ы
        $('.color-fill').addClass('fill-fade');
        $('#palette-group-left').addClass('out-left');
        $('#palette-group-right').addClass('out-right');

        $('.gradient-controll').fadeIn();

        // Применяем изменения градиента
        writeGradient();
       
    }); // click .initiate-gradient


    // Применяем изменения градиента
    function writeGradient(){
        buildGradient = bgOne + " " + grad0 + "%" + ", " + bgTwo + grad100 + "%" + ")";

        $('.display').css('background-image', gradientDirection + buildGradient);
        $('.display').css('background-image', mozGradientDirection + buildGradient);
        $('.display').css('background-image', webkitGradientDirection + buildGradient);
        $('.display').css('background-image', oGradientDirection + buildGradient);
        $('.display').css('background-image', msGradientDirection + buildGradient);
    }


    // Убрать изменение градиента и показать палитру
    $('.refresh-gradient').on('click', function() {

        $('.gradient-controll').fadeOut();

        $('.initiate-gradient').fadeIn('fast');
        $('.gradient-slider').fadeOut();
        $('.gradient-slider').removeClass('active-slider').removeClass('fac').addClass('fixed');
        $('.color-fill').removeClass('fill-fade');
        $('#palette-group-left').removeClass('out-left');
        $('#palette-group-right').removeClass('out-right');
    });

    
    // Сохраняем и создаём градиент
    $('.apply-gradient').on('click', function() {

        var context = {bgOne: bgOne, grad0: grad0, bgTwo: bgTwo, grad100: grad100};

        $.post( "{% url 'blend_create'  %}", context, function( data ) {
            location.href = "/p/" + data;
        });
    });
    

});


    </script>

{% endblock content %}
