{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

	<div class="profile-body">
		
		<h1>Michael Sinov</h1>

		<div class="profile-tabs">
			<a class="gradients" href="{% url 'profile_details' profile.pk %}">Gradients</a>
			<a class="likes" href="{% url 'profile_likes' profile.pk %}">Likes</a>
		</div>

	</div>

	<div class="feed"></div> <!-- /.feed -->

    <script src="{% static 'load_palettes.js' %}"></script>


	<style type="text/css">

		.profile-body{
			max-width: 1100px;
			margin: auto;
		}

		.profile-body h1{
			text-align: center;
		}

		.profile-tabs .active{
	        border-bottom: 4px solid #9184FD;
		    color: #000;
		}

		.profile-tabs a{
			display: inline-block;
    		padding: 5px 20px;
		    color: #717579;
		}

		.profile-tabs{
		    /*border-bottom: 1px solid #ccc;*/
		}

		.profile-tabs a:hover{
		    color: #000;
		}


	</style>


	<script type="text/javascript">
		$( window ).load(function() {
			$('.{{active}}').addClass('active');			
		});
	</script>

{% endblock %}
