{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

	<div class="profile-body">
		
		<h1>Michael Sinov</h1>

		<div class="profile-tabs">
			<a class="gradients" href="{% url 'profile_details' profile.pk %}">Gradients</a>
			<a class="likes" href="{% url 'profile_likes' profile.pk %}">Likes</a>
		</div>

	</div>

	<div class="feed"></div> <!-- /.feed -->

    <script src="{% static 'load_palettes.js' %}"></script>


	<script type="text/javascript">
		$( window ).load(function() {
			$('.{{active}}').addClass('active');			
		});
	</script>

{% endblock %}
